/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/**************************
 Basic styles 
 **************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 18px;
    background-color: #fff;
}

.container-fluid {
    width: 1100px;
    margin: 0 auto;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

a.btn {
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 35px;
    display: inline-block;
}

.fa-arrow-right {
    font-size: 14px;
    margin-left: 12px;
    transition: all 0.3s ease-out;
}

a.btn:hover .fa-arrow-right {
    transform: scale(1.6);
}

.img-width {
    width: 100%;
}



/* pulse hover animation */

@keyframes pulse {
    50% {
        transform:scale(0.9);
    }

    100% {
        transform:scale(1.0);
    }
}

.pulse-effect:hover {
    animation: pulse 1s ease-out infinite reverse;
}



/* header area css start here */

.header-area {
    background-color: #2D25A0;
}

.top-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 65px 0 85px;
}

.banner-content h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
}

/* header area css end here */



/* player section css start here */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
}

.player {
    width: 330px;
    height: 480px;
    background: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 5px;
}

.player-info {
    margin-top: 13px;
}

.player-info h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 13px;
}

.player-info p {
    font-size: 15px;
    font-weight: 300;
    color: #6C6C6C;
    text-align: justify;
}

/* player section css end here */


/* highlights section css start here */

.highlights-area {
    background-image: url(images/bg.png);
    margin-top: 70px;
    padding: 65px 0px;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 66px;
    align-items: center;
}

.highlights-info h2 {
    font-size: 46px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
}

.highlights-info p {
    color: #fff;
    font-weight: 300;
    text-align: justify;
    line-height: 26px;
    font-size: 16px;
    margin-top: 15px;
}

.highlights-thumbnail img {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(255 255 255 / 20%);
}

/* highlights section css end here */


/* footer section css end here */
.footer-area {
    Width: 485px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.social-link {
    margin-bottom: 27px;
}

.social-link a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #E7E7E8;
    display: inline-block;
    border-radius: 50%;
    color: #969BAB;
    margin-left: 15px;
    transition: all 0.5s ease;
}

.social-link a:hover {
    color: #2D25A0;
    transform: rotate(360deg);
}

.copyright-text p {
    color: #000;
    font-size: 16px;
    font-weight: 300;
}
/* footer section css end here */



/* Responsive css start here */

/* Mobile Device */

@media only screen and (max-width : 688px) {
    .container-fluid {
        width: 100%;
    }

    .container {
        width: 100%;
    }
    
    .top-banner, .players, .highlights {
        display: grid;
        grid-template-columns: repeat(1, 1fr );
        grid-row-gap: 35px;
        justify-items: center;
    }

    .banner-content h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .banner-image img {
        width: 310px;
    }

    /* top banner css end here */

    .players {
        margin-top: 47px;
    }

    /* players css end here */

    .highlights-info, .highlights-thumbnail {
        margin: 15px;
    }

    .highlights-info h2 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .highlights-info p {
        font-size: 14px;
        line-height: 24px;
    }


    footer {
        display: none;
    }
}